.spansqm {
  font-size: 10px;
}
.fromAddBuilding {
  color: #4f4f4f;
  font-size: 15px;

  margin: 20px;

  padding: 40px 20px 40px 20px;
  margin-bottom: 40px;
}
.ketImg {
  color: #828282;
  font-size: 13px;
}
.fileeeee {
  display: none;
  size: 100%;
}
