h4 {
  margin: 0px;
  font-weight: 600;
}

h2 {
  margin: 0px;
  font-weight: 700;
}

.title2 {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.titlechat {
  padding-top: 100px;
  /* padding-bottom: 60px; */
  text-align: center;
}

.title1 {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  color: #828282;
}
.container1 {
  padding-bottom: 60px;
}
.container2 {
  padding-bottom: 60px;
  background-color: #f2f2f2;
}
.link {
  text-decoration: none;
}

body {
  text-decoration: none;
}
