.ho:hover {
  text-shadow: none !important;
  box-sizing: border-box !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  z-index: 2;
}
/* 
#container {
  padding: "0px";
  font-size: "18px";
  text-align: "left !important";
  height: "35px";
  margin-top: "56%";
  background-color: "rgba(0, 0, 0, 0.66)";
}

#p {
  padding-top: "5px";
  padding-left: "5px";
} */
