.nameLeft {
  font-weight: 550;
  font-size: 24px;
  padding-bottom: 10px;
  color: #4f4f4f;
}
.barLeft {
  text-decoration: none;
  border: 2px solid #bdbdbd;
  margin-top: 10px;
  margin-left: 12px;
  padding: 6px;
  /* padding-left: 12px; */
  width: 92%;
  border-radius: 5px;
  font-weight: 500;

  color: #4f4f4f;
}
.barLeft:hover {
  color: #4f4f4f;
  text-decoration: none;
  font-weight: none;
}
.barLeftLog {
  text-decoration: none;
  border: 2px solid #bdbdbd;
  margin-top: 10px;
  margin-left: 12px;
  padding: 6px;
  /* padding-left: 12px; */
  width: 92%;
  border-radius: 5px;
  font-weight: 500;
  background-color: white;
  text-align: left;
  color: #4f4f4f;
}
.listdetail {
  font-weight: 500;
  color: #4f4f4f;
  font-size: 18px;
}
.listrowacc {
  padding: 20px;
}
.buttonacc {
  margin-top: 5px;
  width: 100%;
  font-size: 13px;
}
.colButtom {
  margin-top: 13px;
}
.userListAdmin {
  text-decoration: none;
  border: 1px solid #bdbdbd;
  margin-top: 10px;
  margin-left: 12px;
  padding: 20px;
  width: 96%;
  border-radius: 5px;
  font-weight: 500;

  color: #4f4f4f;
}
.buttonAdmin {
  margin: 3px;
  margin-top: 20px;

  /* width: 100%; */
}
